/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 body{
  background: #101010;
  margin: 0;
  padding: 0;
}
#root {
  background: orange;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.search-wrapper{
  position: fixed;
  background-color: pink;
  float: right;
}

.mySearch{
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 5px 5px 5px 25px;
  outline: none;
}

#audio-wrapper {
  display: table;
  height: 1px;
  width: 100%;
}

#audio-nav {
  background-color: #282828;
  margin: 0;
  padding: 0;
}

#defaultBar {
  width: 50%;
  position: relative;
  background-color: #606060;
  height: 5px;
}


#progressBar {
  position: absolute;
  height: 5px;
  background-color: #3498db;
  width: 10%;
}

#playButton {
  background-color:rgb(250, 250, 250);
  border: none;
  height: 32px;
  width: 32px;
  background-image: url("play.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

#pauseButton {
  background-color:rgb(250, 250, 250);
  border: none;
  height: 32px;
  width: 32px;
  background-image: url("pause.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

#muteButton {
  background-color:rgb(250, 250, 250);
  border: none;
  height: 32px;
  width: 32px;
  background-image: url("mutebutton.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

#muteButton:active, #playButton:active {
  position: relative;
  top: 2px;
}

.btn:focus,.btn:active {
   outline: none !important;
}

h1, h2, h3, h4, h5 {
  color: #ffffff ;
}

ul {
  list-style-type: none;
  text-align: center;
  display: inline-block;
 }

 .artists{
   display: inline-block;
   cursor: pointer;
   margin: 10px;
 }


.albums{
  cursor: pointer;
  display: inline-block;
  margin: 10px;
}

.a{
  background-color: #101010;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 88%;
}

.custom-container{
  float: right;
  position: relative;
  height: 950px;
  width: 94%;
}

.songs{
  cursor: default;
}

.song-list{
  position: relative;
  border-top: 1px solid #ffffff;
  border-collapse: collapse;
  width: 70%;
  height: 50%;
  height: 100%;
  border: 1;
  margin: 0 auto;
  top: 50px;
}

.section-title{
  position: relative;
  left: 70px;
  margin: 40px;
}

td{
  padding: 7px;
  color: #ffffff;
}

.playButton-td {
  background: #ffffff url("play.svg") center no-repeat;
  width: 20px;
  height: 1.5em;
  margin-top: .5em;
  background-size: 10px 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-row {
  border-bottom: 1px solid #ffffff;
}​

.logout{
  cursor: pointer;
}


#wrapper {
  position: fixed;
  background-color: gray;
  height: 100%;
}

#sidebar-wrapper{
  background-color: red;
  width: 115px;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  top: 0;
  width: 175px;
  list-style: none;
  margin: 0;
  padding: 0;
}
