/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

html, body {
  background-color: #2e2e2e;
  color: #999;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.mySearch{
  float: right;
}

audio {
}

#audio-wrapper {
  width: 640px;
  margin: 10px auto;
}

#audio-nav {
  background-color:rgb(250, 250, 250);
  width: 640px;
}

#defaultBar {
  width: 640px;
  position: relative;
  background-color: #606060;
  height: 5px;
}

#progressBar {
  position: absolute;
  height: 5px;
  background-color: #3498db;
  width: 0px;
}

#playButton {
  background-color:rgb(250, 250, 250);
  border: none;
  height: 32px;
  width: 32px;
  background-image: url("play.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

#muteButton {
  background-color:rgb(250, 250, 250);
  border: none;
  height: 32px;
  width: 32px;
  background-image: url("mutebutton.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

#muteButton:active, #playButton:active {
  position: relative;
  top: 2px;
}

.btn:focus,.btn:active {
   outline: none !important;
}

h1, h2, h3, h4, h5 {
  color: #ffffff ;
}

ul {
  margin-left: 5px;
  list-style-type: none;
  text-align: center;
  display: inline-block;
 }

.albums{
  cursor: pointer;
  display: inline-block;
  margin: 20px;
}

.songs{
  cursor: default;
}

.song-list{
  display: block;
}

.artists{
  cursor: pointer;
  display: inline-block;
  margin: 20px;
}

.logout{
  cursor: pointer;
}


#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper{
  margin-left: -250px;
  left: 250px;
  width: 175px;
  background: #171717;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 175px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {
    #wrapper {
      padding-left: 0;
    }
    #sidebar-wrapper {
      left: 0;
    }
    #wrapper.active {
      position: relative;
      left: 250px;
    }
    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }
}
